{% extends 'plantilla.html' %}

{% block title %} Lista de tareas {% endblock %}

{% block content %} 
    <h1>Mis tareas</h1>
    <form action="/processtask">
        <table class="u-full-width">
            <tr>
                <th></th>
                <th>Fecha</th>
                <th>Título</th>
                <th>Descripción</th>
            </tr>
            {% for item in tareas %}
            <tr>
                <td><input type="radio" name="ix" value="{{loop.index}}"></td>
                <td>{{item[2]}}</td>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
            </tr>
            {% endfor %}
        </table>
        <a class="button button-primary u-pull-right" href="/newtask">Nueva tarea</a>
        <button class="button-primary" name="btnModificar" type="submit">Modificar</button>
        <button class="button-primary" name="btnEliminar" type="submit">Eliminar</button>
    </form>
{% endblock %}